.q-grid {
	height:140px;
	width:100%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: black;
	z-index: 1002;
	padding: 0px;
	overflow: scroll;
	list-style-type: none;
}

.video-box {
	height: 140px;
	width: 140px;
	color: white;
	display: block;
	float: left;
	z-index: 1003;
}

.video-box.over {
  border: 2px dashed #000;
}

.video-box-img {
	width: 120px;
	height: 80px;
	position: relative;
	top: 10px;
	left: 10px;
	border-style: solid;
	border-width: 1px;
}

.video-box-title {
	width: 120px;
	height: 30px;
	position: relative;
	top: 20px;
	left: 10px;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.video-box-title a{
	color: white;
}
