* {box-sizing: border-box;}

.rm-content {
	width: 50%;
	background: #d3d3d3;
	color:black;
	margin: auto;
	font-size: 25px;
}

.rm-para {
	font-size: 25px;
	line-height: 32px;
}

.rm-para a {
	color: red;
}